.truck-img {
    display: flex;
    justify-content: center;  /* 가로 가운데 */
    align-items: center;      /* 세로 가운데 (높이 있으면) */
    width: 100%;              /* 부모 영역 기준 꽉 채움 */
    padding: 20px;        /* 위 여백 */
  }
  
  .truck-img img {
    width: 150px;      /* 고정 크기 */
    height: auto;      /* 비율 유지 */
    display: block;    /* 하얀 여백 제거 */
  }
  