.food-container {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.food-container img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.map-img {
  margin-bottom: 20px; /* Space between map image and truck image */
}

.truck-info {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.truck-img {
  position: relative;
  width: 100%;
  height: auto;
}

.truck-image {
  width: 100%;
  height: auto;
}

.food-overlay {
  position: absolute;
  top: 30%;
  left: 0%;
  bottom: 5%;
  padding: 10px;
  width: 80%;
}

.food-item {
  display: flex;
  flex-direction: row;  /* 이미지와 메뉴를 가로로 배치 */
  object-fit: contain;
  width: 100%;
  gap: 3.5%;
}

.food-image-container {
  width: 20%;  /* 이미지 크기 설정 */
  padding: 10px;
  margin-right: -10%;
}

.food-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-left: 25%;
}

.food-details {
  width: 70%;  /* 메뉴와 가격 영역 */
  padding-left: 0;  /* 메뉴와 가격 영역의 왼쪽 여백을 없애고 */
  margin-left: -10%; /* 전체 영역 왼쪽으로 이동 */
}
.food-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -50.5%; 
  margin-bottom: 20%;
  width: 100%;
  margin-left: 3%;   /* 헤더 위치 조정 시 이거 만지기기  */
  white-space: nowrap; 
}

.food-logo {
  width: 30px !important;  /* 로고 크기 강제 설정 */
  height: 30px !important;
  object-fit: contain;
  flex-shrink: 0;  /* 아이콘이 줄어들지 않도록 고정 */
}

.left-logo {
  margin-left: 10px;
  flex-shrink: 0;  /* 아이콘이 줄어들지 않도록 고정 */
}

.right-logo {
  margin-right: 10px;
  flex-shrink: 0;  /* 아이콘이 줄어들지 않도록 고정 */
}

.menu-list {
  margin-top: -9px;  /* 메뉴와 가격을 조금 더 위로 올리기 */
  display: flex;
  flex-direction: column;
  margin-left: 0%;  /* 메뉴 항목 전체 왼쪽으로 이동 */
}
.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1%;
  margin-left: 29%;     /*메뉴 위치 조정 이거 건들면됨 */
}
.menu-item .dots {
  display: inline-block;
  flex-grow: 1;  
  margin: 0 5px;
  border-bottom: 1px dotted #000; 
  margin-bottom: 3%;
}

.menu-item p {
  margin: 0;
  font-size: 8pt;
  width: auto;  
  margin-left: 0%;  
  margin-right: 9%;  /*메뉴 위치 조정 이거 건들면됨 */
}

h3 {
  text-align: center;
  font-size: 17.5px;
  font-weight: bold;
  margin-bottom: 20px;
}

.slide-buttons {
  display: flex;
  justify-content: center; /* 버튼과 텍스트를 가로로 중앙 정렬 */
  align-items: center; /* 세로로도 중앙 정렬 */
  gap: 10px; /* 화살표와 텍스트 사이 간격 */
}

.prev-button, .next-button {
  background-color: white;
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: #929292;
}

.prev-button:hover, .next-button:hover {
  background-color: white;
}

h4 {
  margin: 0; /* 텍스트의 기본 여백 없애기 */
  font-size: 12px; /* 텍스트 크기 설정 */
  color:  #929292;
}
