.home-page {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  box-sizing: border-box;
}

.mainImg img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.cheer-title {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.chat-box {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 15px;
  height: 250px;
  width: 80%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message {
  max-width: 75%;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 10px;
  word-break: break-word;
}

.chat-messages::-webkit-scrollbar {
  width: 2px;  /* 스크롤 너비 */
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #2e2c79;  /* 스크롤바 색 */
  border-radius: 10px;
}

/* 오른쪽 정렬 스타일 */
.chat-message.right {
  align-self: flex-end;
  background-color: #2e2c79;
  color: white;
}

.chat-input-box {
  display: flex;
  gap: 5px;
}

.chat-input-box input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 15px;
  border: 1px solid #000000;
  outline: none;
}

/* 전송버튼 */
.send-btn {
  background-color: #BBBBD4;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  transition: all 0.5s ease-in-out;
}

.ticket-container {
  position: relative;
  margin-bottom: 3px;
  width: 85%;
  max-width: 430px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.0s ease, opacity 1.0s ease;
}


/* 티켓 이미지 */
.ticket-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 15%; /* 이미지 오른쪽으로 약간 이동 */
  background-color: white;
}

/* 티켓 정보 */
.ticket-info {
  position: absolute;
  top: 50%;
  left: 10%; 
  transform: translateY(-50%);
  color: black;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
}

/* 공연 이름 */
.ticket-info .performance-name {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  margin-left: 4%;
  min-width: 80px;
}

/* 공연 시간 */
.ticket-info .performance-time {
  font-size: 14px;
  color: #b5b5d5;
  margin-left: 33%; /* 시간 부분을 오른쪽으로 살짝 이동 */
}

/* 공연 순서 */
.ticket-info .performance-number {
  font-size: 16px;
  color: #000000;
  margin-right: -0.4%;
}

.ticket-info .performance-time .time-text {
  font-size: 10px;
  color: #b5b5d5;
}

.ticket-info .performance-time .time-number {
  font-size: 15px;
  color: #000000;
}


/* 마지막 티켓 밑에 여백 추가 */
.ticket-list .ticket-container:last-child {
  margin-bottom: 20px;
}

/* 공연순서 텍스트 스타일 */
.performance-title {
  font-size: 22px;
  font-weight: bold;
  color: #2e2c79;
  text-align: center;
  margin-bottom: 20px;
}