.chat-box {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 15px;
    height: 250px;
    width: 80%;
    max-width: 380px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .chat-message {
    max-width: 70%;
    padding: 7px 13px;
    border-radius: 15px;
    font-size: 10px;
    word-break: break-word;
  }
  
  .chat-messages::-webkit-scrollbar {
    width: 2px;  /* 스크롤 너비 */
  }
  
  .chat-messages::-webkit-scrollbar-thumb {
    background-color: #2e2c79;  /* 스크롤바 색 */
    border-radius: 10px;
  }
  
  /* 오른쪽 정렬 스타일 */
  .chat-message.right {
    align-self: flex-end;
    background-color: #2e2c79;
    color: white;
  }
  
  .chat-input-box {
    display: flex;
    gap: 5px;
  }
  
  .chat-input-box input {
    flex: 1;
    padding: 8px 10px;
    border-radius: 15px;
    border: 1px solid #000000;
    outline: none;
  }
  
  /* 전송버튼 */
  .send-btn {
    background-color: #BBBBD4;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
  }